@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* Index */

html {
  height: 100%;
  background-color: #F2F2F2;
}

/* Header */

.page-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  max-height: 64px;
}

.navigation-user .navigation-item:nth-child(-n+2) {
  width: 44px;
}

.navigation-user .navigation-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-favorite-hotels-count {
  position: absolute;
  width: 11px;
  padding: 5px 5px 5px 4px;
  margin: 11px 8px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  background: rgba(125, 181, 79, 1);
  ;
}

.navigation-logo {
  margin: 0 30px 0 70px;
  padding: 0;
}

.navigation-list {
  max-width: 340px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-user {
  align-items: center;
  margin-right: 70px;
  width: 268px;
  margin-left: auto;
}

.navigation-link {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 20px 16px;
  text-decoration: none;
}

/* Main */

body {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  font-weight: 400;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.hero-section-background {
  background-image: url(../images/index-background.jpg);
  background-color: rgba(131, 179, 211, 0.12);
  background-size: auto 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 1200px;
}

.hero-section-logo {
  padding: 51px 371px 82px;
  margin: 0;
}

.sedona-title {
  height: 72px;
  padding: 69px 290px 25px;
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.sedona-description {
  width: 651px;
  padding: 0 275px 69px;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 1200px;
  text-align: center;
}

.picture-one {
  display: flex;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-title {
  padding: 102px 113px 62px;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.without-picture .advantages-title {
  padding-top: 112px;
}

.advantages-description {
  padding: 0 85px 102px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.with-picture {
  max-width: 1200px;
  background-color: rgba(130, 179, 211, 1);
  color: #ffffff;
}

.without-picture {
  max-width: 400px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.without-picture .advantages-description {
  padding-bottom: 112px;
}

.without-picture:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.sedona-pseudo-title {
  padding: 64px 348px 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.extra-advantages-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 1200px;
}

.extra-advantages-item {
  width: 400px;
}

.extra-advantages-house {
  background-image: url(../images/house-vector.svg);
  background-size: 75px 75px;
  background-color: rgba(131, 179, 211, 0.12);
  background-position: top 81px right 164px;
  background-repeat: no-repeat;
}

.extra-advantages-food {
  background-image: url(../images/food.svg);
  background-size: 75px 75px;
  background-color: #ffffff;
  background-position: top 81px right 164px;
  background-repeat: no-repeat;
}

.extra-advantages-gift {
  background-image: url(../images/gift-vector.svg);
  background-size: 75px 75px;
  background-color: rgba(131, 179, 211, 0.12);
  background-position: top 81px right 164px;
  background-repeat: no-repeat;
}

.extra-advantages-description {
  padding: 30px 85px 81px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.extra-advantages-title {
  padding: 183px 78px 0;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search {
  margin: 0;
  padding: 96px 304px;
  text-align: center;
}

.hotel-search-title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-description {
  margin: 0;
  padding: 20px 0 54px;
  font-size: 22px;
  line-height: 26px;
}

/* Footer */

.newsletter {
  margin: 0 auto;
  background-image: url(../images/footer-background.jpg);
  background-color: rgba(131, 179, 211, 0.12);
  background-size: auto;
  width: 1200px;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}

.newsletter-title {
  margin: 0;
  padding: 96px 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  padding-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

.newsletter-form .email-field{
  text-indent: 20px;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  color: #000000;

  padding: 0;
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
}

/* Footer contacts */

.footer-contacts {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  max-width: 142px;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  width: 48px;
}

.footer-social-icon {
  padding: 13px 13px;
}

.footer-telephone {
  width: 720px;
  padding: 5px 0;
  margin: 0;
  text-align: center;

}

.footer-contacts-address-phone {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;

  color: #000000
}

.footer-logo {
  padding: 0;
}

.page-footer-logo-picture {
  padding: 0;
}

/* Catalog */

.header-background {
  background-image: url(../images/catalog-index-background.jpg);
  background-position: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);

}

.inner-header {
  color: #ffffff;
}

.inner-header-title {
  padding: 35px 565px 8px 70px;
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs-item:nth-child(1) {
  width: 12px;
  height: 12px;
  background-image: url(../images/breadcrumbs-home-logo.svg);
  background-repeat: no-repeat;
  background-position: auto;
  background-size: 12px 12px;
}

.breadcrumbs-item:nth-child(2) {
  width: 7px;
  height: 10px;
  margin: 0 10px;
  background-image: url(../images/breadcrumbs-arrow-2.svg);
  background-repeat: no-repeat;
  background-position: auto;
  background-size: 7px 10px;
}

.breadcrumbs-item:nth-child(3) {
  font-size: 16px;
  text-align: left;
}

/* Filters */

.hotel-filters {
  margin: 0;
  width: 1060px;
  border: none;
  padding: 0;
  padding-left: 70px;
  padding-bottom: 70px;
  align-content: center;
}

.hotels-filters-forms {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.hotels-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.hotels-filter-group:nth-child(3) {
  width: 288px;
}

.hotels-filter-group:nth-child(3) .hotels-filter-list {
  display: flex;
  align-items: center;
}

.hotels-filter-list {
  width: 151px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.hotels-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
}

.hotels-filter-item:nth-child(2) {
  padding: 16px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
}

.hotels-filter-group:nth-child(3) .hotels-filter-item {
  padding: 0;
}

/* Hotel Cards */

.catalog-header {
  padding: 50px 70px 40px;
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.catalog-cards-sorting {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style: none;
}

.catalog-title {
  width: 338px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  list-style: none;
}

.hotel-card {
  max-width: 340px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card:nth-child(-n+3) {
  margin-bottom: 20px;
}

.hotel-card-article {
  padding: 20px;
}

.hotel-card-title {
  margin: 0;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
}

.hotel-card-description {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 16px 0;
}

.hotel-card-type {
  padding: 0;
  margin: 0;
}

.hotel-card-price {
  padding: 0;
  margin: 0;
}

.hotel-card-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-rating-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hotel-card-rating {
  width: 140px;
  margin: 0;
  padding: 9px 0 8px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.hotel-card-stars {
  margin: 0;
}

/* Pagination */

.pagination {
  display: flex;
  list-style: none;
  width: 1060px;
  padding: 0;
  margin: 40px 70px 60px;
  align-items: baseline;
}


.pagination-item {
  padding: 0 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
}

.pagination-item:first-child {
  padding: 0;
  padding-right: 4px;
}

.pagination-item:last-child {
  padding: 0;
  padding-left: 4px;
}

/* Catalog Footer*/

.inner-newsletter {
  margin: 0 auto;
  background-color: #ffffff;;
  width: 1200px;
  text-align: center;

}

.inner-newsletter-title {
  margin: 0;
  padding: 96px 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.inner-newsletter-description {
  margin: 0;
  padding-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* Control, Input, Button */

input[type="number"] {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 0 12px 20px;
  color: #000000;
}

/* Controls */

.control-select {
  border: 2px solid #E5E5E5;
  width: 292px;
  padding: 12px 0 12px 20px;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #333333;
  border-radius: 4px;

}

.control-input {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.control-input-min {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 0 12px 20px;
  color: #000000;

  width: 123px;
  margin: 0;
  margin-right: 2px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.control-input-max {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 0 12px 20px;
  color: #000000;

  width: 123px;
  margin: 0;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #F2F2F2;
}

.control-last {
  color: #000000;
  line-height: 24px;
  text-align: right;
}

/* Buttons */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-search-small {
  width: 160px;
  background-color: rgba(117, 97, 87, 1);
}

.button-search-big {
  font-size: 20px;
  line-height: 36px;
  background-color: rgba(117, 97, 87, 1);
}

.button-subscribe {
  background-color: rgba(130, 179, 211, 1);
  font-size: 20px;
  line-height: 36px;
}

.button-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: rgba(130, 179, 211, 1);
  color: #ffffff;
}

.button-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
}

.button-pagination {
  padding: 12px 0;
  margin: 0;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  width: 60px;
  border-radius: 4px;
  background-color: rgba(130, 179, 211, 1);
  }

.pagination-current {
  padding: 12px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000;
  background-color: #F2F2F2;
}

.pagination-show-more {
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.navigation-item .button-search-small {
  width: 160px;
  border-radius: 4px;
  padding: 8px 34px;
  border: none;
}

.newsletter-form .button-subscribe {
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.hotel-search .button-search-big {
  padding: 8px 50px;
  width: 376px;
  text-align: center;
  border: none;
}

.hotel-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 191px;
  padding-top: 56px;
}

.hotel-filter-buttons .button {
  padding: 8px 50px;
  margin: 0;
  border: 0;
  border-radius: 4px;
}

.hotel-filter-buttons .button:nth-child(1) {
  margin-bottom: 32px;
}

.button-hotel-card {
  width: 140px;
  padding: 8px 0;
  border-radius: 4px;
  background-color: rgba(117, 97, 87, 1);
}

.button-add-to-favorite {
  width: 140px;
  padding: 8px 0;
  border-radius: 4px;
  background-color: rgba(130, 179, 211, 1);
  border: none;
}

.button-remove-from-favorite {
  width: 140px;
  padding: 8px 0;
  border-radius: 4px;
  background-color: rgba(125, 181, 79, 1);
  border: none;
}

.catalog-cards-sorting-element .button{
  padding: 12px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-cards-sorting-element .button-current{
  padding: 12px 14px;
  border: 2px solid #000000;
  border-radius: 4px;
}
